
.firstrack{
    width: 50%;
    padding: 15px;
    background: #008EFF;
    border-radius: 10px;
    margin-bottom: 2px;
}

.rack {
    height: 20px;    
    color: white; 
    display: flex;
    align-items: center;
    justify-content: space-between;  
    padding: auto;  
}

#delete{
    background: white;
    color: black;
    width: 10px;
    margin: 0;
    padding: 0px;
    text-align: center;
    font-size: small;
    font-weight: 400;
}

.rack p {
    width: 150px;
}

strong {
    font-size: 1.2em;    
}

